<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bucket使用总量统计</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #main {
            width: 900px;
            margin: 0 auto;
        }

        table, table tr th, table tr td {
            border: 1px solid #efefef;
        }
    </style>
</head>
<body>
<div id="main">
    <div>
        <img src="https://dmc.digiwincloud.com.cn/api/dmc/v1/buckets/digiwincloud/shareFiles/files/99291693-0328-4901-9896-e6a4655fba26/toAnyOne"
             title="鼎捷软件股份有限公司">
    </div>

    <h1 style="text-align: center">
        <span>截至</span>
        <span th:text="${data.year}">year</span>年<span th:text="${data.month}">month</span>月
        <span>Bucket使用总量统计</span>
    </h1>

    <div style="font-size: 16px; line-height: 1.5; margin: 10px 0">
        <table style="width: 100%;" cellspacing="0" cellpadding="0">
            <tr style="background-color: #efefef;">
                <td><span>Bucket名称</span></td>
                <td><span>Bucket大小(GB)</span></td>
            </tr>
            <tr th:each="item,itemStat : ${data.buckets}">
                <td><span th:text="${item.name}">name</span></td>
                <td><span th:text="${item.sizeGb}">sizeGb</span></td>
            </tr>
        </table>
    </div>

    <div style="font-size: 13px; background-color: #f2f2f2; color: #666; text-align: center; padding: 20px 0; border-top: 1px solid #ccc; max-width: 900px;">
        <p>
            <a style="color: #c00; font-weight:700; text-decoration: none;" href=""
               th:href="@{${digiwinCloudUri} + '/dw-display/email-consultation'}">
                ※ 此信件为DMC统计相关邮件，由系统自动发出，请勿直接回覆。若您不小心收到，请忽略此邮件，谢谢！
            </a>
        </p>
        <p>
            <span>DMC后台管理系统：</span>
            <a style="color: #000; text-decoration: none;" href="http://172.16.2.141:7070" target="_blank">
                DMC Admin
            </a>
        </p>
        <p>鼎捷软件股份有限公司 | 上海市静安区江场路1377弄绿地中央广场1号楼22楼</p>
    </div>

    <div>
        <img src="https://dmc.digiwincloud.com.cn/api/dmc/v1/buckets/digiwincloud/shareFiles/files/7c24a441-8caf-4a7b-972a-92b3b7f92929/toAnyOne"
             title="鼎捷软件股份有限公司">
    </div>
</div>
</body>
</html>
